{% extends "base.html" %}
{% block title %}{{ section.title }}{% endblock title %}

{% block content %}
<main id="main-content">
    <section class="hero">
        {{ section.title }}
    </section>
    <article class="content">
        {{ section.content | safe }}
    </article>
</main>
{% endblock content %}
