<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
  {% include "components/common-head.html" %}
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
{% endblock head %}
</head>
<body>
{% block body %}
  {% include "components/navigation.html" %}
  {% block content %}
  {% endblock content %}
  {% include "components/footer.html" %}
{% endblock body %}
{% block end %}
  <script src="/elasticlunr.min.js"></script>
  <script src="/search.js"></script>
{% endblock end%}
</body>
