{% extends "base.html" %}

{% block content %}
<main id="main-content">
    <section class="hero">
        <h1>{{ section.title }}</h1>
    </section>

    <section class="section-content">
        {{ section.content | safe }}
    </section>

    <section aria-label="Posts">
        <h2>Posts</h2>
        <div class="cards">
            {% set posts = get_section(path="posts/_index.md")%}
            <ul role="list" class="cards-list">
            {% for post in posts.pages %}
                {% include "components/card.html" %}
            {% endfor %}
            </ul>
        </div>
    </section>

    <section aria-label="Tags">
        <h2>Tags</h2>
        <div class="tags">
            {% set tags = get_taxonomy(kind="tags") %}
            <ul role="list" class="tag-list">
            {% for tag in tags.items %}
                <li><a class="tag" href="{{ tag.permalink }}">{{ tag.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </section>
</main>
{% endblock content %}
