{% extends "base.html" %}

{% block title %}
{{ super() }} | {{ page.title }}
{% endblock title %}

{% block end %}
    {{ super() }}
    <script src="/copy.js"></script>
    <script src="/print.js"></script>
{% endblock end %}

{% block content %}
<main>
    <article class="main-content" id="main-content">
        <h1 role="banner">{% block content_title %}{{ page.title }}{% endblock content_title %}</h1>
        <details class="toc">
            <summary>
                Table of Contents
            </summary>
            <nav aria-label="Table of Contents">
            {% if page.toc %}
                <ul>
                {% for h1 in page.toc %}
                    <li>
                        <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                    {% if h1.children %}
                        <ul>
                        {% for h2 in h1.children %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            {% if h2.children %}
                                <ul>
                                {% for h3 in h2.children %}
                                    <li>
                                        <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </nav>
        </details>

        <div class="content">
            <!-- Info -->
            <div class="licence" role="contentinfo" aria-label="Licence">
                <span>License: </span>
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License.</a>
            </div>
            <div class="tags" role="contentinfo" aria-label="Tags">
                <span>Tags:</span>
                {% set post = page %}
                {% include "components/tag-list.html" %}
            </div>
            <div role="contentinfo" aria-label="Post Date">
                Posted on:
                <time datetime="{{ page.date }}">{{ page.date | date(format="%A, %d %B %Y") }}</time>
            </div>

            {{ page.content | safe }}
        </div>
    </article>
</main>
{% endblock content %}
