{% extends "base.html" %}
{% block title %}
{{ super() }} | {{ section.title }}
{% endblock title %}

{% block content %}
<main id="main-content">
    <section class="hero">
        <h1>{{ section.title }}</h1>
    </section>

    <section class="section-content">
        {{ section.content | safe }}
    </section>

    <div class="cards">
        {% set posts = section.pages %}
        <ul role="list" class="cards-list">
        {% for post in section.pages %}
            {% include "components/card.html" %}
        {% endfor %}
        </ul>
    </div>
</main>
{% endblock content %}
