{% extends "base.html" %}
{% block title %}
{{ super() }} | {{ taxonomy.name | title }}
{% endblock title %}

{% block content %}
<main id="main-content">
    <section class="hero">
        <h1>{{ taxonomy.name | title }}</h1>
    </section>

    <section class="tags">
        <ul role="list" class="tag-list">
        {% for term in terms %}
            <li><a class="tag" href="{{ term.permalink }}">{{ term.name }}</a></li>
        {% endfor %}
        </ul>
    </section>
</main>
{% endblock content %}
