{% extends "base.html" %}
{% block title %}
{{ super() }} | {{ term.name | title }}
{% endblock title %}

{% block content %}
<main id="main-content">
    <section class="hero">
        <h1>{{ taxonomy.name ~ ": " ~ term.name | title }}</h1>
    </section>

    <section aria-label="Posts">
        <h2>Posts</h2>
        <div class="cards">
            {% set posts = get_section(path="posts/_index.md")%}
            <ul role="list" class="cards-list">
            {% for post in posts.pages %}
            {% if term.name in post.taxonomies.tags %}
                {% include "components/card.html" %}
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </section>
</main>
{% endblock content %}