<li class="card">
    <a href="{{ post.permalink }}">
        <h3>{{ post.title }}</h3>
        <div class="card-description">
            <aside>Posted on <time datetime="{{ post.date }}">{{ post.date | date(format="%A, %d %B %Y") }}</time></aside>
            <p>{{ post.description | safe }}</p>
        </div>
    </a>
    <aside class="tags">
    {% include "components/tag-list.html" %}
    </aside>
</li>
