<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preload" href="/style.css" as="style" media="screen"/>

<link rel="icon" href="/favicon.ico" sizes="256x256 64x64 32x32 16x16"/>
<!-- choose between styles depending on media type-->
<link rel="stylesheet" href="/style.css" media="screen"/>
<link rel="stylesheet" href="/print.css" media="print"/>

{% block feed %}
<link rel="alternate" type="application/atom+xml" title="All Posts" href="/atom.xml"/>
{% endblock feed %}
