<footer>
  <div class="badges">
    <a href="https://www.w3.org/WAI/WCAG2AA-Conformance">
      {% set img = "/badges/wgac2.1AA.png" %}
      {% set meta = get_image_metadata(path="/static" ~ img) %}
      <img class="badge" src="{{ img }}" width="{{ meta.width }}" height="{{ meta.height }}" alt="WCAG (Web Content Accesibility Guidelines) 2.1 Level AA conformance badge."/>
    </a>
    <a href="https://notbyai.fyi/">
      <img class="badge" src="/badges/not-by-ai/badge-white.svg" alt="Badge with “written by human not by AI” written on it."/>
    </a>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
      <img class="badge" src="/badges/cc-by.png" alt="Creative Commons License"/>
    </a>
    <a href="http://www.anybrowser.org/campaign/">
      {% set img = "/badges/any-browser.gif" %}
      {% set meta = get_image_metadata(path="/static" ~ img) %}
      <img src="{{ img }}" width="{{ meta.width }}" height="{{ meta.height }}" alt="“Viewable With Any Browser” badge with “Any browser NOW! 0.0” written on it." />
    </a>
    <a href="http://www.eff.org/blueribbon.html">
      <img src="/badges/blue-ribbon.gif" alt="Join the Blue Ribbon Online Free Speech Campaign">
    </a>
  </div>
  <span>
    BayKanguru © 2023
    <a href="/accesibility">Accesibility Statement</a>
  </span>
</footer>
