<a class="skip-link" href="#main-content">Skip to main content</a>
<header class="primary-header">
    <nav class="nav-list">
        <ul role="list">
            <li><a href="/">{% include "components/site-icon.html" %}</a></li>
            <li class="flex-breaker"><a href="/posts">Posts</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>