<svg role="img" aria-label="BK site icon" class="site-icon" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" >
    <g transform="translate(150.8 44.75)">
    <g stroke-width="2.813" >
        <rect class="bg" x="-150.8" y="-44.75" width="100" height="100"/>
        <path class="text" d="m-140-28.4c-1.872 0-5.175 0.1098-5.175 4.074 0 4.075 3.194 4.185 5.286 4.185h1.982v50.77h-1.982c-2.092 0-5.286 0.1106-5.286 4.185 0 3.964 3.303 4.074 5.175 4.074h47.29c1.982 0 5.286-0.1098 5.286-4.074 0-4.075-3.194-4.185-5.286-4.185h-1.432v-13.1l8.92-11.34 13.77 24.56c-1.762 0.1101-3.744 0.8817-3.744 3.965 0 4.075 3.194 4.184 5.286 4.184h8.038c1.982 0 5.286-0.1098 5.286-4.074 0-3.744-2.532-4.185-5.946-4.185l-17.4-30.94 15.75-19.82c4.185 0 6.498-0.441 6.498-4.185 0-3.964-3.414-4.074-5.286-4.074h-9.36c-1.982 0-5.286 0.1097-5.286 4.184 0 2.863 1.871 3.744 3.523 3.964l-20.04 25.33v-25.22h1.432c1.982 0 5.286-0.1107 5.286-4.075 0-4.075-3.194-4.184-5.286-4.184h-23.06zm11.34 8.259h12.55c8.369 0 10.57 6.056 10.57 9.36 0 4.075-3.193 10.57-12.99 10.57h-10.13zm0 28.19h13.99c8.479 0 11.45 7.378 11.45 11.89 0 4.845-3.965 10.68-12.66 10.68h-12.77z" stroke-width="5.162"/>
    </g>
    </g>
</svg>
