<ul role="list" class="tag-list">
{% for tag in post.taxonomies.tags %}
    {% set global_tags = get_taxonomy(kind="tags") %}
    {% for tag in global_tags.items | filter(attribute="name", value=tag) %}
        <li><a class="tag" href="{{ tag.permalink }}">{{ tag.name }}</a></li>
    {% endfor %}
{% endfor %}
</ul>

